body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.navbar {
    background-color: #d43532;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bi-arrow-left-circle {
    font-size: 24px;
}

h1 {
    margin: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input[type="password"] {
    padding-right: 40px; /* Space for the eye icon */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding in width calculation */
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #d43532;
    color: #fff;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

input[type="submit"]:hover {
    background-color: #14a33f;
}
